:root {
  --globus-blue: #27518F;
  --globus-light-blue: #708fca;
  --contact-img-height: 150px;
  --contact-img-space-height: 200px;
}

/* body{margin-top:20px;
    background:#eee;
} */
    
/* CONTACTS */
.contact-box {
  background-color: #ffffff;
  border: 1px solid #e7eaec;
  padding: 20px;
  margin-bottom: 20px;
}
.contact-box > a {
  color: inherit;
}
.contact-box.center-version {
  border: 1px solid #e7eaec;
  padding: 0;
}
.contact-box.center-version > a {
  display: block;
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
}
.contact-box.center-version > a img {
  width: 200px;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.contact-box.center-version address {
  margin-bottom: 0;
}
.contact-box .contact-box-header {
  text-align: center;
  background-color: var(--globus-light-blue);
  border-top: 1px solid #e7eaec;
  padding: 15px 20px;
}
.contact-box .contact-box-footer {
  text-align: center;
  background-color: #ffffff;
  border-top: 1px solid #e7eaec;
  padding: 15px 20px;
}


a {
  text-decoration:none !important;    
}

/*********************************************************************/

.contact-card .card-header {
  background-color: inherit;
  border-bottom: none;
}

.contact-card .card-header, .contact-card .contact-card-text {
  z-index: 3;
}

.contact-card-img-bg-parent {
  position: relative;
  height: var(--contact-img-space-height);
  width: 100%;
  overflow: hidden;
}

.contact-card-img-bg {
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;

  /* Enable the blur filter */
  filter: blur(var(--blur));
  -webkit-filter: blur(var(--blur));
  /* transform: scale(var(--blur-scale)); */ /* NOTE: This is the issue. */

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* overflow: hidden;
  -moz-overflow:hidden */
}

.contact-card-img-bg::before {
  content: ""; /* empty but necessary */
  position: absolute;
}

.contact-card-img {
  width: var(--contact-img-height); 
  height: var(--contact-img-height); 
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: center; 
  background-color: white; 
  z-index: 2;
  
  display: inline-block; 
  /* border-radius: 50%;  */
  /*
  margin-top: 10px; 
  margin-bottom: 10px; 
  */

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.contact-card-text {

}

/*********************************************************************/


/** 
 * Custom contact card styles.
 */

 /* .contact {
  min-height: 200px;
  color: white;
  border-radius: 15px;
  background: linear-gradient(to left, #254c86, #27518f);
  box-shadow: 0px 5px 15px #666;
}
.contact-pic {
  border-radius: 15px;
  position: relative;
  top: -40px;
}
.contact .card-header {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background: linear-gradient(to right, #d1def2, #254c86);
  color: #27518f; 
}
*/