a {
    color: #06C;
}
/* Navbar */
header.navbar {
    padding: 5px 0;
    background-color: #27518F;
    margin-bottom: 0;
}
header.navbar .navbar-header .navbar-brand {
    padding: 15px;
}
header.navbar .navbar-header .navbar-brand .name {
    color: #FFFFFF;
    font-weight: 100;
    font-size: 32px;
    margin-left: 10px;
}
header.navbar .navbar-header .navbar-brand .name-heavy {
    font-weight: 300;
}
header.navbar .navbar-header .navbar-brand img {
    height: 45px;
    margin: -13px 0 0 10px;
}
header.navbar .navbar-header .navbar-brand a,
header.navbar .navbar-header .navbar-brand a:focus,
header.navbar .navbar-header .navbar-brand a:hover {
    text-decoration: none;
}
header.navbar-inverse .nav {
    font-size: 17px;
    font-weight: 100;
}
header.navbar .navbar-form {
    position: relative;
    margin-top: 6px;
    margin-bottom: 6px;
}
header.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 7px;
    border-radius: 4px;
}
header.navbar-inverse .navbar-nav>li {
    margin: 0 4px;
}
header.navbar-inverse .nav>li>a:focus,
header.navbar-inverse .navbar-toggle:focus,
header.navbar-inverse .nav .open>a:focus {
    background-color: transparent;
}
header.navbar-inverse .navbar-nav>.active>a,
header.navbar-inverse .navbar-nav>.active>a:focus,
header.navbar-inverse .nav .active>a,
header.navbar-inverse .nav .active>a:hover,
header.navbar-inverse .nav .open>a,
header.navbar-inverse .nav .open>a:hover,
header.navbar-inverse .navbar-nav>.active>a:hover,
header.navbar-inverse .nav>li>a:hover,
header.navbar-inverse .nav li a.go-nav-item:hover,
header.navbar-inverse .nav li a.go-nav-item:focus,
header.navbar-inverse .navbar-toggle:hover,
header.navbar-inverse .navbar-nav>.open>a,
header.navbar-inverse .navbar-nav>.open>a:hover,
header.navbar-inverse .navbar-nav>.open>a:focus {
    background-color: #468cc8;
}
header.navbar-inverse .nav .open>a .caret,
header.navbar-inverse .nav .open>a:hover .caret,
.nav .open>a:focus .caret,
header.navbar-inverse .nav>li>a:hover .caret,
header.navbar-inverse .nav li a.go-nav-item:hover .caret,
header.navbar-inverse .navbar-toggle:hover .caret {
    border-top-color: #2a6496;
    border-bottom-color: #2a6496;
}
header.navbar-inverse .navbar-nav>li>.dropdown-menu {
    margin-top: 2px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

/* Page Header - Breadcrumbs */
.page-header .breadcrumb {
    background: rgba(0, 0, 0, 0);
    padding: 0;
    font-size: 10px;
    text-transform: uppercase;
    margin-bottom: 0;
}

/* media queries */
@media (max-width: 767px) {
    header#masthead .navbar-brand {
        padding: 0;
        margin: 0;
    }
    header#masthead .navbar-brand img {
        float: left;
        height: 35px!important;
        margin: 0px;
        margin-top: 8px;
    }
    header#masthead .name {
        float: left;
        font-size: 20px;
        margin-top: 20px;
    }
    header#masthead .navbar-toggle {
        margin-right: 0;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #ccc;
    }
    header.navbar-inverse .navbar-nav>.active>a,
    header.navbar-inverse .navbar-nav>.active>a:focus,
    header.navbar-inverse .nav .active>a,
    header.navbar-inverse .nav .active>a:hover,
    header.navbar-inverse .nav .open>a,
    header.navbar-inverse .nav .open>a:hover,
    header.navbar-inverse .navbar-nav>.active>a:hover,
    header.navbar-inverse .nav>li>a:hover,
    header.navbar-inverse .nav li a.go-nav-item:hover,
    header.navbar-inverse .nav li a.go-nav-item:focus,
    header.navbar-inverse .navbar-toggle:hover,
    header.navbar-inverse .navbar-nav>.open>a,
    header.navbar-inverse .navbar-nav>.open>a:hover,
    header.navbar-inverse .navbar-nav>.open>a:focus,
    header.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a,
    header.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:hover,
    header.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:focus{
        background-color: #468cc8;
    }
    header.navbar-inverse .navbar-nav>li a {
        border-radius: 4px;
    }
}
@media (min-width: 992px) {
    .page-header .nav {
        position: absolute;
        right: 0;
        bottom: 0;
        border-bottom: none;
    }
    header.navbar .navbar-header .navbar-brand .name {
        font-size: 24px;
    }
    header.navbar-inverse .navbar-nav>li>a {
        padding: 8px 12px;
    }
}
@media (min-width: 1200px) {
    header#masthead .name {
        font-size: 32px;
    }
}
