aside.sidebar-block {
    margin-bottom: 15px;
    padding: 0 15px 15px;
}
aside.sidebar-block+aside.sidebar-block {
    padding-top: 15px;
}
aside.sidebar-block .nav {
    margin-bottom: 15px;
}
aside.sidebar-block .nav.nav-stacked>li+li {
    margin-top: 0;
}
aside.sidebar-block .nav>li>.nav-header-divider,
aside.sidebar-block .nav>li>a {
    padding: 3px 20px;
    font-size: 12px;
    border-radius: 0;
    margin-top: 4px;
    color: #aaa;
}
aside.sidebar-block .nav>li>.nav-header-divider {
    color: #999;
    margin-top: 5px;
    padding-bottom: 0 !important;
}
aside.sidebar-block .nav>li>a:hover,
aside.sidebar-block .nav>li>a:focus,
aside.sidebar-block .nav>li.active>a,
aside.sidebar-block .nav>li.active>a:hover,
aside.sidebar-block .nav>li.active>a:focus {
    background-color: transparent;
    border-left: solid 1px #06C;
    padding-left: 19px;
    color: #06C;
}
aside.sidebar-block .nav>li.active>a,
aside.sidebar-block .nav>li.active>a:hover,
aside.sidebar-block .nav>li.active>a:focus {
    border-left-width: 2px;
    padding-left: 18px;
}

/* 2nd depth */
aside.sidebar-block .nav .nav {
    margin-bottom: 0;
}
aside.sidebar-block .nav .nav .nav>li>a {
    padding-left: 40px;
    font-size: .8em;
}
aside.sidebar-block .nav .nav .nav>li>a:hover,
aside.sidebar-block .nav .nav .nav>li>a:focus,
aside.sidebar-block .nav .nav .nav>li.active>a,
aside.sidebar-block .nav .nav .nav .nav>li.active>a:hover,
aside.sidebar-block .nav .nav .nav>li.active>a:focus {
    background-color: transparent;
    border-left: solid 1px #06C;
    padding-left: 39px;
    color: #06C;
}
aside.sidebar-block .nav .nav .nav>li.active>a,
aside.sidebar-block .nav .nav .nav>li.active>a:hover,
aside.sidebar-block .nav .nav .nav>li.active>a:focus {
    border-left-width: 2px;
    padding-left: 38px;
}

/* 3rd depth */
aside.sidebar-block .nav .nav .nav .nav>li>a {
    padding-left: 60px;
}
aside.sidebar-block .nav .nav .nav .nav>li>a:hover,
aside.sidebar-block .nav .nav .nav .nav>li>a:focus,
aside.sidebar-block .nav .nav .nav .nav>li.active>a,
aside.sidebar-block .nav .nav .nav .nav .nav>li.active>a:hover,
aside.sidebar-block .nav .nav .nav .nav>li.active>a:focus {
    background-color: transparent;
    border-left: solid 1px #06C;
    padding-left: 59px;
    color: #06C;
}
aside.sidebar-block .nav .nav .nav .nav>li.active>a,
aside.sidebar-block .nav .nav .nav .nav>li.active>a:hover,
aside.sidebar-block .nav .nav .nav .nav>li.active>a:focus {
    border-left-width: 2px;
    padding-left: 58px;
}
aside.sidebar-block .panel-heading {
    background-color: transparent;
    position: relative;
    padding: 0;
    border-bottom: solid 1px #ddd;
    margin-bottom: -1px;
}
aside.sidebar-block .panel-heading a {
    display: block;
    font-weight: 600;
    color: #555;
    padding: 10px 15px;
}
aside.sidebar-block .panel-heading a.active {
    background-color: #428bca;  
    color: #fff;
}
aside.sidebar-block .panel-heading a.active + a.caret span.caret {
    border-left-color: #fff;
}
aside.sidebar-block .panel-heading a.active + a.caret.open span.caret {
    border-left-color:transparent;
    border-top-color: #fff;
}
aside.sidebar-block .panel-heading a:hover {
    text-decoration: none;
    color: #06c;
}
aside.sidebar-block .panel-heading a.active:hover {
    text-decoration: none;
    color: #fff;
}
aside.sidebar-block .panel-heading a.caret {
    border-top: 0;
    display: block;
    padding: 1em;
    outline: none;
    color: #f3efe0;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
    background-color: transparent;
    background: #acaca1;
    background: rgba(0, 0, 0, 0.045);
}
aside.sidebar-block .panel-heading a.caret {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 40px;
}
aside.sidebar-block .panel-heading a.caret span.caret {
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-left: 6px solid #999;
    margin: -7px 0 0 4px;
}
aside.sidebar-block .panel-heading a.caret.open span.caret {
    border-top: solid 6px #999;
    border-left: solid 6px transparent;
    border-right: solid 6px transparent;
    margin: 0 -5px;

}
aside.sidebar-block .panel-heading a.caret:hover {
    cursor: pointer;
    background-color:#092b5d;
    background: rgba(0, 0, 0, 0.085);
}
aside.sidebar-block .list-group .panel-collapse a {
    padding-left: 30px;
    background-color: #f9f9f9;
    color: #06c;
    font-size: 12px;
    margin-bottom: -1px;
}
aside.sidebar-block .list-group .panel-collapse a:hover {
    background-color: #eee;
}
aside.sidebar-block .list-group .panel-collapse a.active {
    border-color: #ddd;
    color: #fff;
    background-color: #428bca;    
}
.panel-heading+.list-group .list-group-item:first-child {
    border-top-width: 1px;
}
aside.sidebar-block .panel > .list-group-item:first-child {
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
aside.sidebar-block .panel > .list-group-item {
    border-left: 0;
    border-right: 0;
}
aside.sidebar-block .panel > .list-group-item:last-child {
    border-bottom:0;
}

/* mobile transitions */
*,
*:after,
*::before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html,
body,
.st-container,
.st-pusher,
.st-page-content,
.st-content {
    height: 100%;
}
.st-content {
    overflow-y: scroll;
    background: #f3efe0;
}
.st-page-content,
.st-content,
.st-content-inner {
    position: relative;
}

.st-container {
    position: relative;
    overflow-x: hidden;
}

.st-pusher {
    position: relative;
    left: 0;
    z-index: 99;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.st-pusher::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    background: rgba(0,0,0,0.2);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.st-menu-open .st-pusher::after {
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.st-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    visibility: hidden;
    width: 300px;
    height: 100%;
    background: #0a316a ;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    margin-bottom: 0;
}

.st-menu::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    content: '';
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.st-menu-open .st-menu::after {
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

/* content style */

.st-menu h1 {
    margin: 0;
    padding: 1em;
    color: #708FCA;
    font-weight: 100;
}
.st-menu .panel-heading,
.st-menu .panel,
.st-menu .list-group-item {
    border-radius: 0;
    background-color: #0a316a;
    border: 0;
    padding: 0;
}
.panel-heading {
    position: relative;
}
.st-menu .panel-heading a {
    height: 50px;
}
.st-menu .panel .list-group a {
    padding-left: 40px;
    font-size: 12px;
}
.st-menu .panel .list-group .list-group-item,
.st-menu .panel .list-group:last-child .list-group-item:last-child {
    border-radius: 0;
}
.st-menu .panel .list-group:last-child .list-group-item:last-child {
    border-bottom: solid 1px #092b5d;
}
.st-menu a.list-group-item.active:hover,
.st-menu a.list-group-item.active:focus,
.st-menu .panel a:hover {
    text-decoration: none;
    background-color: #092b5d;
    border-bottom: solid 1px #092b5d;
}
.st-menu a.list-group-item.active{
    background-color: #428bca;    
}
.st-menu .panel-heading:first-child a {
    border-top: solid 2px #092b5d;
}

.st-menu .panel a {
    border-top: 0;
    border-bottom: solid 1px #092b5d;
    display: block;
    padding: 1em 1em 1em 1.2em;
    outline: none;
    color: #f3efe0;
    text-transform: uppercase;
    text-shadow: 0 0 1px rgba(255,255,255,0.1);
    letter-spacing: 1px;
    font-weight: 400;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
    background-color: transparent;
    margin-bottom: -1px;
}
.st-menu .panel > a:first-child,
.st-menu .panel > a:first-child:hover,
.st-menu .panel > .panel-heading {
    border-top: solid 1px #092b5d;
}
.st-menu .panel > .panel-heading a.active {
    background-color: #428bca; 
}
.panel-heading a.caret {
    position: absolute;
    z-index: 999;
    top: 0px;
    right: 0;
    height: 50px;
    display: inline-block;
    text-align: center;
    border: 0;
    box-shadow: none;
}
.st-menu .panel-heading a.caret {
    width: 50px;
    background: #acaca1;
    background: rgba(0, 0, 0, 0.045);
}
.st-menu .panel-heading:first-child a.caret {
    top: 1px;
}
.st-menu .panel-heading a.caret:hover,
.st-menu .panel-heading a.active + a.caret:hover {
    cursor: pointer;
    background-color:#092b5d;
    background: rgba(0, 0, 0, 0.085);
}
.st-menu .panel-heading a.caret span.caret {
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-left: 6px solid #eee;
    position: relative;
    font-size: 12px;
    color: #eee;
}
.panel-heading a.caret.open span.caret,
.st-menu .panel-heading a.caret.open span.caret {
    border-top: solid 6px #eee;
    border-left: solid 6px transparent;
    border-right: solid 6px transparent;
    margin-right: 4px;
}

/* Individual effects */

/* Effect 1: Slide in on top */
.st-effect-1.st-menu {
    visibility: visible;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.st-effect-1.st-menu-open .st-effect-1.st-menu {
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.st-effect-1.st-menu::after {
    display: none;
}

/* Effect 3: Push*/
.st-effect-3.st-menu-open .st-pusher {
    -webkit-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0);
}

.st-effect-3.st-menu {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    overflow: hidden;
}

.st-effect-3.st-menu-open .st-effect-3.st-menu {
    visibility: visible;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    overflow: visible;
}

.st-effect-3.st-menu::after {
    display: none;
}
/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
.no-csstransforms3d .st-pusher,
.no-js .st-pusher {
    padding-left: 300px;
}
.st-content {
    height: auto;
    top: -30px;
    float: right;
    background-color: transparent;
    margin: 0 10px 10px 10px;
}
.st-content-inner button {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #27518F;
    border: 0;
    color: #fff;
    border-top: solid 1px #eee;
    border-left: solid 1px #eee;
    border-bottom: solid 1px #eee;
    border-right: solid 1px #eee;
    padding: 5px 10px
}
.st-content-inner button:hover {
    background-color: #468cc8;
}
.st-container .st-page-content {
    overflow: visible;
}
.st-container.st-menu-open .st-page-content {
    overflow: hidden;
}

/* Media Queries */
@media (max-width: 767px) {
    .st-pusher .sidebar {
        display: none;
    }
    .st-content {
        overflow: hidden;
    }
}
@media (min-width: 768px) {
    .st-pusher .st-heading,
    .st-pusher .st-content {
        display: none;
    }
}
