---
layout: default
title: News
---
<h1>News</h1>

<p>Here is a list of news items related to Globus Labs. For more timely updates, please follow us on <a href="https://www.twitter.com/LabsGlobus" target="_blank">Twitter <i class="bi bi-twitter"></i></a>.</p>

<div class="row">
    <table class="table table-borderless">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Date</th>
                <th scope="col">News</th>
            </tr>
        </thead>
        <tbody>
            {% for post in site.posts %}
                <tr>
                    <td class="text-center">
                        {% if post.type == 'award' %}
                            <i class="bi bi-award-fill icon"></i>
                        {% elsif post.type == 'paper' %}
                            <i class="bi bi-file-text-fill icon"></i>
                        {% elsif post.type == 'presentation' %}
                            <i class="bi bi-easel2-fill icon"></i>
                        {% elsif post.type == 'join' %}
                            <i class="bi bi-person-plus-fill icon"></i>
                        {% endif %}
                    </td>
                    <td>{{ post.date | date: '%b.&nbsp;%d,&nbsp;%Y' }}</td>
                    <td style="word-wrap: break-word;">
                        {{ post.content }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>