---
layout: default
title: People
---

      <h1>People</h1>
    
      {% assign people = site.people | sort: 'ranking' %}

      {% for person in people %}
        {% assign loopindex = forloop.index | modulo: 2 %}
          {% if loopindex == 1 %}
          <div class="row">
                <div class="col-xs-12 col-sm-6 member">
                    <img src="images/people/{{ person.image }}">
                    <div class="member-info">
                        <p><span class="name">{{ person.title }}</span><br>
                        <span class="position">{{ person.position }}</span><br>
                        {{ person.department }}<br>
                        {{ person.institution }}</p>
                    </div>
                </div>
                {% else %}
                <div class="col-xs-12 col-sm-6 member">
                    <img src="images/people/{{ person.image }}">
                    <div class="member-info">
                        <p><span class="name">{{ person.title }}</span><br>
                        <span class="position">{{ person.position }}</span><br>
                        {{ person.department }}<br>
                        {{ person.institution }}</p>
                    </div>
                </div>
            </div>
          {% endif %}
      {% endfor %}
     
      {% assign val = people.size | modulo: 2 %}
      {% if val == 1 %} 
            </div>
      {% endif %}
    
    <h1>Alumni</h1>
    <ul>
	<li><a href="https://zhuozhaoli.github.io/">Zhuozhao Li</a>, Postdoc, Southern University of Science and Technology, China</li>
    	<li><a href="https://rohankumar.io">Rohan Kumar</a>, M.S., Google</li>
    	<li><a href="https://www.cdm.depaul.edu/Faculty-and-Staff/Pages/faculty-info.aspx?fid=1459">Roselyne Tchoua</a>, Ph.D., DePaul University, Chicago</li>
	<li><a href="https://www.linkedin.com/in/tran-quan-pham-657019b3/">Quan Pham</a>, Ph.D., Allianz Australia </li>
	<li><a href="https://www.linkedin.com/in/timgarmstrong/">Tim Armstrong</a>, Ph.D., DataBricks</li>
	<li><a href="http://people.cs.uchicago.edu/~soner/">Atilla Soner Balkır</a>, Ph.D., Google</li>
	<li><a href="https://zhaozhang.github.io">Zhao Zhang</a>, Ph.D., Texas Advanced Computer Center</li>
	<li><a href="http://www.cs.iit.edu/~iraicu/">Ioan Raicu</a>, Ph.D., Illinois Institute of Technology</li>
	<li><a href="http://people.cs.uchicago.edu/~borja">Borja Sotomayor</a>, Ph.D., University of Chicago</li> 
	<li>Yong Zhao, Ph.D., UESTC China</li>
	<li>Catalin Dumitrescu, Ph.D., FermiLab </li>
	<li><a href="https://www.linkedin.com/in/gabriela-turcu-50705738/">Gabriela Turcu</a>, M.S., Amazon Web Services </li>
        <li><a href="https://www.linkedin.com/in/chuangliu">Chuang Liu</a>, Ph.D., Twitter</li>
	<li><a href="https://www.linkedin.com/in/lingyun-yang-7b6b213/">Lingyun Yang</a>, Ph.D., Microsoft</li>
        <li><a href="http://www.cse.usf.edu/~anda/">Anda Iamnitchi</a>, Ph.D., University of South Florida</li>
        <li><a href="http://www.aslag.net">Alain Roy</a>, Ph.D., VMware</li>
	<li><a href="http://www.ece.ubc.ca/~matei/">Matei Ripeanu</a>, Ph.D., University of British Columbia </li>
    </ul>

