---
layout: default
title: Projects
---

{% assign project_div_class = "row row-cols-2 row-cols-md-3 row-cols-xl-4 project-card-deck align-items-center" %}

<h1>Active Projects</h1>
<p>These are projects that are very actively under development.</p>
<div class="{{ project_div_class }}">

<!--
    Note: check != false here rather than for truthyness because not
    all projects have the active tag yet.
-->
{% for project in site.projects %}
    {% if project.active != false %}
        <a href="{{ project.url }}" class="text-reset text-decoration-none">
            <div class="card project-card zoom-1_1">
                <div class="card-body">
                    <img class="img-fluid" src="images/projects/{{ project.image }}"
                        style="max-height: 100px;">
                    <p class="mt-2 link">
                        <span class="name">{{ project.title }}</span> <br>
                        {{ project.teaser }}
                    </p> 
                </div>
            </div>
        </a>
    {% endif %}
{% endfor %}
</div>


<h1>Other Projects</h1>
<p>These are projects that are not currently being actively developed but may or may not still be used to support above active projects.</p>
<div class="{{ project_div_class }}">

<!--
    Note: check != false here rather than for truthyness because not
    all projects have the active tag yet.
-->
{% for project in site.projects %}
    {% if project.active == false %}
        <a href="{{ project.url }}" class="text-reset text-decoration-none">
            <div class="card project-card">
                <div class="card-body">
                    <img class="img-responsive" src="images/projects/{{ project.image }}"
                        style="max-height: 100px;">
                    <p class="mt-2 link">
                        <span class="name">{{ project.title }}</span> <br>
                        {{ project.teaser }}
                    </p> 
                </div>
            </div>
        </a>
    {% endif %}
{% endfor %}
</div>