---
layout: default
title: Publications
---
    <h1>Recent Publications</h1>

	{% assign pubs = site.publications | sort: "date" | reverse %}
    <ol>
    {% for n in pubs %}
    <div class="row">
        <li>
			<p>{{ n.authors | markdownify | remove: "<p>" | remove: "</p>" }}</br>
            <a href="/pubs/{{n.filename}}">"{{ n.title }}"</a></br>
			<u>{{ n.journal }}</u>. <b>{{ n.volume }}</b> ({{n.year}}){% if n.pages %},{{ n.pages }}{% endif %}</br>
			{% if n.doi %}
			doi: <a href="https://doi.org/{{n.doi}}">{{n.doi}}</a></p>
			{%endif%}
        </li>
    </div>
    {% endfor %}
	</ol>
