---
layout: default
---
$$
\newcommand{\R}{\mathbb{R}}
\newcommand{\T}{\mathcal{T}}
\newcommand{\vec}{\mathbf}
\newcommand{\parens}[1]{\left(#1 \right)}
\newcommand{\braces}[1]{\left\{#1 \right\}}
\newcommand{\angles}[1]{\langle #1 \rangle}
\newcommand{\d}{\text{d}}
\newcommand{\dd}[1]{\frac{\d}{\d #1}}
\newcommand{\ddd}[2]{\frac{\d #1}{\d #2}}
\newcommand{\pd}[1]{\frac{\partial}{\partial #1}}
\newcommand{\p}{\partial}
\newcommand{\pdd}[2]{\frac{\partial #1}{\partial #2}}
\newcommand{\evalat}[1]{\Big|_{#1}}
$$
<article class="blog">
  <h1>{{ page.title }}</h1>

  <div class="date">
    Written by {{ page.author }} on {{ page.date | date: "%B %e, %Y" }}
  </div>
  <p></p><p></p>
  <div class="entry">
    {% include toc.html html=content %}
    {{ content }}
  </div>

</article>
