---
layout: default
---

{% assign github_link = page.github | strip | strip_newlines %}
{% assign website_link = page.website | strip | strip_newlines %}

<div class="row mt-5 mb-5">

    <div class="col-md-4">
        <img src="../images/projects/{{ page.image }}" class="img-fluid" style="max-height: 250px;">
    </div>

    <div class="col-md-8">

        {% if page.website or page.github %}
            <h4>Links</h4>
            <p>
                {% if github_link != '' %}
                    <a href="{{ github_link }}" class="btn btn-outline-secondary" target="_blank">
                        GitHub <i class="bi bi-github"></i>
                    </a>
                {% endif %}
                {% if website_link != '' %}
                    <a href="{{ website_link }}" class="btn btn-outline-secondary" target="_blank">
                        Website <i class="bi bi-link-45deg"></i>
                    </a>
                {% endif %}
            </p>
        {% endif %}

        {% if page.hashtags %}
            <h4>Tags</h4>
            {% for t in page.hashtags %}
                <span class="badge rounded-pill bg-secondary">#{{ t }}</span>
            {% endfor %}
        {% endif %}

    </div>

</div>

<div class="row">

    <div class="col">
        <h1>{{ page.title }}</h1>

        {{ content }}

        <!--
            Add the people associated with the Project here.
        -->
        {% if page.people %}
            <h4>People</h4>
            <div class="row row-cols-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-6">
                {% assign project_people = page.people | sort %}
                {% for person_id in project_people %}
                    {% for person in site.people %}
                        {% if person_id == person.title %}
                            {% if person.web %}
                                <a href="{{ person.web }}" target="_blank">
                            {% endif %}
                            <div class="card border-0 zoom-1_1">
                                <div class="card-body text-center">
                                    <span class="border border-5"
                                          style="width: 150px; height: 150px; background: url('/images/people/{{ person.image }}') no-repeat; 
                                                 background-size: cover; background-position: center; display: inline-block; border-radius: 50%;
                                                 margin-top: 10px; margin-bottom: 10px;"></span>
                                    <h6 class="fancy-header">
                                        {{ person.title }}
                                        {% if person.web %}
                                            <i class="bi bi-link-45deg"></i>
                                        {% endif %}
                                    </h6>
                                </div>
                            </div>
                            {% if person.web %}
                                </a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
    
    
</div>
